html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

@media (max-width: 767px) {
  #__next {
    padding-top: 30px;
  }
}

button {
  border: unset;
  padding: 0;
  cursor: pointer;
  background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

@font-face {
  font-family: "Lucida Console";
  src: url("../public/font/LucidaConsoleRegular/LucidaConsoleRegular.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manlo";
  src: url("../public/font/manlo/Menlo-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.ul-wrapper {
  list-style: disc;
  padding-left: 16px;
  text-align: left;
}

.ul-wrapper .bold {
  color: black !important;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

/* .open-module-button {
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: double 3px #7b2869;
  font-weight: 700;
  font-size: 14px;
  width: fit-content;
  transition: all 0.3s ease;
}

.open-module-button:hover {
  background-color: #7b2869;
  color: white;
  border: double 3px white;
} */

.error-modal .mcm-modal-items {
  border: double 6px #aa5656;
}

.writing-modal .mcm-modal-items {
  border: double 6px #1b9c85;
}

.success-modal .mcm-modal-items {
  border: double 6px #2cd3e1;
}

/* 드래그 방지 */
.disable-drag {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.scrollbar::-webkit-scrollbar {
  height: 4px;
  border-radius: 100px;
}

.web-hide {
  display: none;
}

@media (max-width: 767px) {
  .web-hide {
    display: block;
  }
}

.admin-backcolor {
  background-color: #525fe1;
}

.error-example {
  color: #aa5656;
}

.form-area {
  position: absolute;
  margin-top: -50px;
}

.focusing {
  background-color: #aa5656 !important;
  color: white !important;
  transition: all 0.35s ease;
}

.focusing * {
  color: white !important;
}

@media (max-width: 767px) {
  #mcm-alert-area {
    top: 50px;
  }
}
